
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth.uid in [
        'zgCBWGAWP3TvCkjdABmixpJCI2u2',
      ];
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /alerts/{alertId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && isAdmin();
    }

    match /user_status/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /damage_reports/{reportId} {
      allow create: if request.auth != null;
      allow read: if (request.auth != null && request.auth.uid == resource.data.userId) || isAdmin();
    }
    
    match /resource_needs/{needId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow update: if (request.auth != null && request.auth.uid == resource.data.userId) || isAdmin();
    }

    match /missing_persons/{reportId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
    }
    
    match /feedback/{feedbackId} {
      allow create: if request.auth != null;
    }

    match /survivor_stories/{storyId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
    }

    // Default deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
